<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unipd.se18.ocrcamera">

    <!-- Permissions for using the external storage  - author (g3) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for using the camera - author Pietro Prandini (g2) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Content Provider configurations - author (g3) -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:value=".CameraActivity" />
        <!-- Useful for automatic upgrades of the ocr models - author Pietro Prandini (g2) -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <!-- To use multiple models: android:value="ocr,model2,model3" -->
        <activity android:name=".NavigatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestResultActivity" />
        <activity
            android:name=".TestAlterationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".DownloadDbActivity" />
        <activity android:name=".GalleryActivity"></activity>
    </application>

</manifest>